{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/arquivo_com_estilos.css' %}">
    <title>{% block title %}Academia App{% endblock title %}</title>
</head>
<body>
    
    {% block body %}
    {% endblock body %}
    
    <br><hr><br><ul>
      <li><a href="{% url 'core:home' %}">Home</a></li>
      <li><a href="{% url 'alunos:list_alunos' %}">Alunos</a></li>
      <li><a href="{% url 'anamnese:list_anamneses' %}">Anamneses</a></li>  
      <li><a href="{% url 'instrutores:list_instrutores' %}">Instrutores</a></li>
      <li><a href="{% url 'planosmensalidade:list_planos' %}">Planos mensalidade</a></li>
      <li><a href="{% url 'alimentos:list_alimentos' %}">Alimentos</a></li>
      <li><a href="{% url 'refeicoes:list_refeicoes' %}">Refeições</a></li>
      <li><a href="{% url 'planosalimentares:list_planosalimentares' %}">Planos alimentares</a></li>
      <li><a href="{% url 'exercicios:list_exercicios' %}">Exercícios</a></li>
      <li><a href="{% url 'treinos:list_treinos' %}">Treinos</a></li>
    </ul>
    
    
    <script src="{% static 'js/arquivo_com_javascript.js' %}"></script>
</body>
</html>