{% extends 'base.html' %}
{% block body %}
<br />
<a href="{% url 'treinos:montar_treino' %}">Ver Treino em Montagem</a>
<br /><br />
<b>Lista de Exercícios Disponíveis</b>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for exercicio in exercicios %}
        <tr>
            <td>{{ exercicio.id }}</td>
            <td>{{ exercicio.nome }}</td>
            <td>
                <a href="{% url 'treinos:add_exercicio_treino' exercicio.id %}">Adicionar ao Treino</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}