{% extends 'base.html' %}
{% block title %} Lista de Treinos - {{ block.super }} {% endblock title %}
{% block body %}
<br />
    <a href="{% url 'treinos:add_treino' %}">Cadastro de novo treino</a>
<br /><br />
<b>Lista de Treinos</b>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Treino</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% for treino in treinos %}
            <tr>
                <td>{{ treino.id }}</td>
                <td>{{ treino.nome }}</td>
                <td><a href="{% url 'treinos:edit_treino' treino.id %}">Editar</a></td>
                <td><a href="{% url 'treinos:delete_treino' treino.id %}">Excluir</a></td>
            </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock body %}