{% extends 'base.html' %}
{% block body %}
<br />
<br />
<a href="{% url 'treinos:list_exercicios_add' %}">Montar Novo Treino</a>
<br /><br />

<b>Lista de Treinos</b>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Aluno</th>
            <th>Instrutor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for treino in treinos %}
        <tr>
            <td>{{ treino.id }}</td>
            <td>{{ treino.nome }}</td>
            <td>{{ treino.aluno.nome }}</td>
            <td>{{ treino.instrutor.nome }}</td>
            <td>
                <a href="{% url 'treinos:view_treino' treino.id %}">Ver Detalhes</a>
                |
                <a href="{% url 'treinos:delete_treino' treino.id %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}