{% extends 'base.html' %}

{% block title %}

    Adicionar Refeicao - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<b>Cadastro de Refeicao</b>
<br />
<br />
<form action="" method="POST">
{% csrf_token %}
    <label>Alimentos da Refeicao</label>
    <br />   
    {{ form.alimentos }}
    <br />
    <br />
    <label>Plano Alimentar</label>
    <br />    
    {{ form.plano_alimentar }}
    <br />
    <br />
    <label>Nome da Refeicao</label>
    <br />    
    {{ form.nome }}
    <br />
    <br />
    <label>Horario</label>
    <br />    
    {{ form.horario }}
    <br />
    <br />
    <label>Descricao</label>
    <br />   
    {{ form.descricao}}
    <br />
    <br />
    <button type="submit">Salvar</button>       
</form>

{% endblock body %}