{% extends 'base.html' %}

{% block title %}
    Lista de Refeicoes - {{ block.super }}
{% endblock title %}

{% block body %}

<br />
    <a href="{% url 'refeicoes:add_refeicao' %}">Cadastro de nova Refeicao</a>
<br />
<br />
<b>Lista de Refeicoes</b>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Alimentos</th>
        <th>Plano Alimentar</th>
        <th>Horario</th>
        <th>Descricao</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tbody>
    {% for refeicao in refeicoes %}
        <tr>
            <td>{{ refeicao.id }}</td>
            <td>{{ refeicao.nome }}</td>
            
            <td>
                <ul>
                {% for alimento in refeicao.alimentos.all %}
                    <li>{{ alimento.nome }}</li>
                {% empty %}
                    <li>Sem redes</li>
                {% endfor %}
                </ul>
            </td>
            
            <td>{{ refeicao.plano_alimentar }}</td>
            <td>{{ refeicao.horario }}</td>
            <td>{{ refeicao.descricao }}</td>
            
            <td>
                <a href="{% url 'refeicoes:edit_refeicao' refeicao.id %}">Editar</a>
            </td>
            
            <td>
                <a href="{% url 'refeicoes:delete_refeicao' refeicao.id %}">Excluir</a>
            </td>
        </tr> 
    {% endfor %}
    </tbody>
</table>

{% endblock body %}