{% extends 'base.html' %}

{% block title %}

    Adicionar Alimento- {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<b>Cadastro de Alimento</b>
<br />
<br />
<form action="" method="POST">
    {% csrf_token %}
    <label>Nome do Alimento</label>
    <br />
    {{ form.nome }}
    <br />
    <br />
    <label>Calorias por 100g (kcal)</label>
    <br />
    {{ form.calorias_por_100g}}
    <br />
    <br />
    <label>Proteínas (g)</label>
    <br />
    {{ form.proteinas_g}}
    <br />
    <br />
    <label>Carboidratos (g)</label>
    <br />
    {{ form.carboidratos_g}}
    <br />
    <br />
    <label>Gorduras (g)</label>
    <br />
    {{ form.gorduras_g}}
    <br />
    <br />
    label>Fibra (g)</label>
    <br />
    {{ form.fibra_g}}
    <button type="submit">Salvar</button>       
</form>

{% endblock body %}