/academiapp/pessoas/fotos
/academiapp/__pycache__/*
/apps/Pessoas/__pycache__/*
/apps/Pessoas/migrations/*
/apps/Alunos/__pycache__/*
/apps/Alunos/migrations/*
/apps/Instrutores/__pycache__/*
/apps/Instrutores/migrations/*
/apps/PlanosMensalidade/__pycache__/*
/apps/PlanosMensalidade/migrations/*
/apps/Anamneses/__pycache__/*
/apps/Anamneses/migrations/*
/apps/Alimentos/__pycache__/*
/apps/Alimentos/migrations/*
/apps/Refeicoes/__pycache__/*
/apps/Refeicoes/migrations/*
/apps/Exercicios/__pycache__/*
/apps/Exercicios/migrations/*
/apps/Treinos/__pycache__/*
/apps/Treinos/migrations/*
/apps/ItemTreino/__pycache__/*
/apps/ItemTreino/migrations/*
/apps/PlanosAlimentares/__pycache__/*
/apps/PlanosAlimentares/migrations/*
